body {
  height: 100%;
  background-color: #3a4351;
}

#app {
  height: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica;
  height: 100%;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 345px;
  width: 495px;
  flex-direction: column;
  background-color: #353d4a;
  border-top: 5px solid #94CF59;
  border-radius: 2px;
  color: #fff;
  padding: 25px 0;
}

.header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0;
}

.subhead {
  color: #9FA3A9;
  font-size: 12px;
}

.input {
  background-color: #272C36;
}

.creditCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 385px;
}

.creditCardNumber{
  margin-right: 5px;
  flex: 1 1 100%;
}

.creditCardName{
  margin-right: 5px;
  flex: 1 1 100%;
}

.creditCardExpiry {
  margin-right: 5px;
  flex: 1 1 25%;
}

.creditCardCVC {
  flex: 1 1 15%;
}

input {
  font-size: 14px;
  width: 96%;
  margin-top: 10px;
  padding: 10px 8px;
  border-radius: 3px;
  border: 1px solid #272C36;
  color: #fff;
}

.amounts {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.depositButton {
  display: flex;
  padding: 10px;
  margin-right: 5px;
  border-radius: 3px;
}

.depositButton:hover{
  background: rgba(148,207,89,0.9);
}


.depositFunds {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: #94CF59;
  color: #fff;
  border-radius: 3px;
  border: none;
  font-size: 16px;
}

.depositFunds:hover{
  background: rgba(148,207,89,0.9);
}
